#Build Artifacts
artifacts/*
testcoverage/*
testresults/*


#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
.vs/
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Pp]ublished*/
Ankh.NoLoad
Packages
MigrationBackup

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
.[Ii]dea/*
.idea
codebuild_build.*


#Certificates
*.pfx
*.pem

# Bundler built files
src/ThreeSix.Web/wwwroot/css/site.min.css
src/ThreeSix.Web/wwwroot/js/libs-data.min.js
src/ThreeSix.Web/wwwroot/js/libs-data.min.js.map
src/ThreeSix.Web/wwwroot/js/libs.min.js
src/ThreeSix.Web/wwwroot/js/libs.min.map
src/ThreeSix.Web/wwwroot/js/site.min.js
src/ThreeSix.Web/wwwroot/js/site.min.js.map
